.nav_container{
    /* width: 100%;
    height:20px; */
    /* border:2px solid black; */
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    padding:10px;

}
.bi{
   font-size: large;
   padding:10px; 
}
.nav_container .nav-item15{
    background-color: red;
}
.nav_container .nav-item1{
    background-color: blue;
}
.nav_container .nav-item8 .bi-circle{
    color: green;
}


